/* InputField.CSS */

.inputField {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.313rem;
  margin-bottom: 0.8rem;
}

.inputField label {
  line-height: 19px;
}

.inputField input,
.inputField select {
  background-color: hsla(0, 0%, 0%, 0);
  color: var(--clr-white);
  padding: 12px 16px;
  box-sizing: border-box;
  width: 200px;
  height: 43px;
  border-radius: 7px;
}

.amount {
  width: fit-content;
  padding: 12px 0;
}

.inputField input,
.inputField select {
  border: 2px solid var(--clr-white);
}
.inputField span {
  visibility: hidden;
  font-size: 0.75rem;
}

.valid span {
  visibility: visible;
  color: var(--clr-primary);
}

.invalid span {
  visibility: visible;
  color: var(--clr-error);
}

.valid input,
.valid select {
  border: 2px solid var(--clr-primary);
}

.invalid input,
.invalid select {
  border: 2px solid var(--clr-error);
}

.inputField::placeholder {
  color: var(--clr-placeholder);
}

/* Add Input Field */

#row_2,
#row_33,
#row_4 {
  display: none;
  flex-direction: row;
}

.addorder,
.memberinfo {
  width: fit-content;
}

#submit {
  margin-bottom: 0.3rem;
}
#row_1,
#row_5,
#emember {
  display: flex;
}

#row_5 {
  flex-direction: column;
}

.row {
  gap: 1rem;
}

.inputField.price {
  align-items: flex-end;
  flex-grow: 10;
}

.inputField select {
  width: 300px;
}
#total_price {
  align-self: flex-end;
  font-size: 24px;
  font-weight: 400;
}

.inputField.member_id input {
  width: 100%;
  margin: 0;
}

#addordersubmit {
  align-self: flex-end;
}
