@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

/* Global styles to be used across the app */
:root {
  --clr-black: #0c0e0f;
  --clr-white: #ffffff;
  --clr-disabled: #abb6ba;
  --clr-placeholder: #808080;
  --clr-error: #e74c3c;
  --clr-primary: #a0ff47;
  --clr-primary_2: #75bd00;
  --clr-primary_3: #395c00;
  --clr-secondary: #141819;
  --clr-secondary_2: #21292c;
  --clr-secondary_3: #141819;
  --clr-warning: #f7cd00;

  font-size: 16px;
}

h1 {
  font-size: 3rem;
  padding-bottom: 1.5rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
}

table {
  display: flex;
  flex-direction: column;
  max-height: 741px;
}

thead {
  background: var(--clr-secondary_2);
  border-bottom: 2px solid var(--clr-white);
  width: fit-content;
}

tbody {
  background: var(--clr-secondary_3);
  overflow: auto;  
  -ms-overflow-style: none;  
  scrollbar-width: none;  
  width: fit-content;
}

tbody::-webkit-scrollbar {
  display: none;
}

th, td {
  padding: 12px 16px;
  width: 13.5rem;
  text-align: left;
}

td {
  font-family: "Inconsolata";
  font-size: 1.125rem;
}

.genericLink, .genericLink:visited {
  color:var(--clr-white);
}

.genericLink:hover {
  color:var(--clr-primary);
}

body,
input,
textarea,
button {
  background-color: var(--clr-black);
  color: var(--clr-white);
  font-family: "Inter", "sans-serif";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  padding: 3rem 0 0 22.5rem;
}
