/* orderSummary.CSS */

.orderSummary {
  display: flex;
  flex-direction: column;
  gap: 24px;
  position: absolute;
  width: 800px;
  padding-left: 145px;
  padding-top: 48px;
}

.purchasedOn {
  font-weight: bold;
}

.orderSummary table {
  display: flex;
  flex-direction: column;
  max-height: 741px;
}

.orderSummary thead {
  background: var(--clr-secondary_2);
  border-bottom: 2px solid var(--clr-white);
}

.orderSummary tbody {
  background: var(--clr-secondary_3);
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.orderSummary tbody::-webkit-scrollbar {
  display: none;
}

.orderSummary th,
td {
  padding: 12px 16px;
  gap: 10px;
  width: 217px;
}

.orderSummary th,
td {
  text-align: left;
}

.orderSummary th {
  font-family: "Inter", "sans-serif";
}

.totalPriceDetails {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}