/* salesReport.CSS */

.salesReport {
    display: flex;
    flex-direction: column;
    gap: 24px;
    position: absolute;
}

.salesReport h1 {
    padding: 0px;
}

.salesReport button {
    align-self: flex-end;
}

